---
layout: default
robots: noindex
---

<div class="main-post-list">

  <ul class="timeline" id="projects-section">
    {% for project in site.data.projects %}
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-me" src="{{ project.img | prepend: site.baseurl }}" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}" target="_blank">{{ project.name }}</a></h4>
          </div>
          <div class="timeline-body">
            {% if project.desc %}
              {{ project.desc | markdownify }}
            {% else %}
              <div repotext="{{ project.repo }}">
                <span class="desc"></span>
              </div>
            {% endif %}
            <div user="{{ project.gh_user }}" repo="{{ project.repo }}" class="ghbtn" style="margin-top: 10px;">
              <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/stargazers"><i class="fa fa-star"></i><span class="star"> ...</span></a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/network"><i class="fa fa-code-fork"></i><span class="fork"> ...</span></a>&emsp;&emsp;
              <a target="_blank" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/watchers"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
              <div style="height: 10px;"></div>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <ul class="experience-timeline" id="experience-section">
    {% for experience in site.data.experience %}
      <li class="experience-item">
        <div class="experience-image">
          <a href="{{ experience.link }}" target="_blank">
            <img class="experience-img" src="{{ experience.img | prepend: site.baseurl }}" alt="{{ experience.company }}">
          </a>
        </div>
        <div class="experience-details">
          <h4 class="experience-company">{{ experience.company }}</h4>
          <h5 class="experience-title">{{ experience.title }}</h5>
          <p class="experience-period">{{ experience.period }}</p>
          <div class="experience-desc">
            {{ experience.desc | markdownify }}
          </div>
          <div class="experience-technologies">
            {% for tech in experience.technologies %}
              <a href="{{ tech.link }}" target="_blank">
                <img class="experience-tech-icon" src="{{ tech.icon | prepend: site.baseurl }}" alt="{{ tech.name }}">
              </a>
            {% endfor %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  </div>

